<div class="recovery mb-3 container resetPass-container">
	<h2 class="text-center resetPass-h2">Recuperación de contraseña</h2>
	<p class="text-center resetPass-p">Ingresa aquí una contraseña válida,
		diferente a la anterior</p>
	<form id="resetForm">
		<input
			id="resetInput"
			type="password"
			placeholder="Nueva contraseña"
			required
			autocomplete="new-password"
		/>
		<button class="resetPass-button" type="submit">Restablecer Contraseña</button>

	</form>

</div>

<script src="/js/users.js"></script>